In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('employee_quartile.csv')
data.head()

   employee_id employee_name  salary
0            1        name_1   10000
1            2        name_2   10000
2            3        name_3   20000
3            4        name_4   20000
4            5        name_5   20000

In [ ]:
data.describe()

In [ ]:
import seaborn as sns

sns.displot(data["salary"], kde=True)

In [ ]:
data["salary"].quantile(q=[0.25,0.5,0.75])